.Contacto {
  min-height: calc(100dvh - 85px);
  overflow: hidden;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}
.FormularioDeContacto {
  width: 1250px;
  background-color: var(--ColorBlanco);
  border-radius: 25px;
  padding: 10px;

  /* opacity: 0; */
  animation: animacionAparacion 1s forwards;
  animation-delay: 0.4s;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.FormularioDeContacto__Informacion {
  grid-column: span 1;
  position: relative;
  border-radius: 15px;
  padding: 50px;
  background-color: var(--BgColor);
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}
.FormularioDeContacto__Informacion::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: -100px;
  right: -100px;
  background: linear-gradient(45deg, var(--ColorAzul), var(--ColorVerde));
  border-radius: 50%;
  z-index: -1;
}
.FormularioDeContacto__Informacion::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  top: -75px;
  left: -75px;
  background: linear-gradient(45deg, var(--ColorAzul), var(--ColorVerde));
  border-radius: 50%;
  z-index: -1;
}
.FormularioDeContacto__Informacion--Detalles {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.FormularioDeContacto__Form {
  grid-column: span 2;
  padding: 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto 1fr 1fr;
  gap: 50px;
}
.FormularioDeContacto__Form.Ocultar {
  display: none;
}
.FormularioDeContacto__Form--Input {
  grid-column: span 1;
}
.FormularioDeContacto__Form--Input--Input {
  width: 100%;
  padding: 10px 0;
  border: none;
  color: var(--ColorAzulMarino);
  border-bottom: 2px solid var(--ColorGris);
  font-size: clamp(12px, 2vw, 16px);
  font-weight: bold;
}
.FormularioDeContacto__Form--Input--Input.Area {
  height: 100%;
  resize: none;
}
.FormularioDeContacto__Form--Input--Input:focus {
  outline: none;
  border-bottom-color: var(--ColorAzul);
  color: var(--ColorAzul);
}
.FormularioDeContacto__Form--Input--Input:focus::placeholder {
  color: var(--ColorAzul);
}
.FormularioDeContacto__Form--Input:focus-within label {
  color: var(--ColorAzul);
}
.FormularioDeContacto__Form--Input.Completo {
  grid-column: 1 / -1;
}
.FormularioDeContacto__Form--Boton {
  grid-column: 1 / -1;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.FormularioDeContacto__Form--Boton--Boton {
  height: 50px;
  padding: 0 20px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, var(--ColorAzul), var(--ColorVerde));
  color: var(--ColorBlanco);
  font-weight: bold;
  cursor: pointer;
  transition: var(--Transicion);
  text-transform: uppercase;
  font-size: clamp(12px, 2vw, 16px);
}
.FormularioDeContacto__Form--Boton--Boton:hover {
  letter-spacing: 1px;
}
.FormularioDeContacto__Form--Correo {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  display: none;
}
.FormularioDeContacto__Form--Correo.Mostrar {
  display: flex;
}
.FormularioDeContacto__Form--Correo--Imagen {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.FormularioDeContacto__Form--Correo--Imagen img {
  width: 150px;
  height: auto;
  object-fit: contain;
}
.FormularioDeContacto__Form--Correo--Imagen.Enviando img {
  animation: animacionEnviando 1s linear infinite;
}
.FormularioDeContacto__Form--Correo--Imagen.NoEnviado img {
  animation: animacionNoEnviado 0.5s linear infinite;
}
.FormularioDeContacto__Form--Correo--Imagen.Enviado img {
  animation: animacionEnviado 1s linear infinite;
}
@media (width > 1920px) {
  .Contacto {
    min-height: fit-content;
  }
}
@media (width <= 1300px) {
  .FormularioDeContacto {
    width: 100%;
  }
}
@media (width <= 1000px) {
  .FormularioDeContacto {
    grid-template-columns: 1fr;
  }
  .FormularioDeContacto__Informacion {
    padding: 20px;
  }
  .FormularioDeContacto__Informacion--Detalles {
    margin-top: 10px;
  }
  .FormularioDeContacto__Form {
    padding: 10px;
    grid-column: span 1;
    gap: 30px;
  }
  .FormularioDeContacto__Form--Correo {
    grid-column: span 1;
  }
}
@media (width <= 500px) {
  .FormularioDeContacto__Form--Boton--Boton {
    height: auto;
    padding: 10px 15px;
  }
  .FormularioDeContacto__Form--Correo--Imagen img {
    width: 100px;
  }
}
