.ModalRastreoAsignado {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 10px;

  display: grid;
  place-items: center;

  z-index: -1;
  opacity: 0;
}
.ModalRastreoAsignado.Activo {
  z-index: 1000;
  opacity: 1;
}
.ModalRastreoAsignado__Contenedor {
  position: relative;
  width: 500px;
  background-color: var(--ColorBlanco);
  border-radius: 15px;
  padding: 10px;
  transform: scale(0);
  opacity: 0;

  animation: Aparecer 0.35s forwards;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@keyframes Aparecer {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.ModalRastreoAsignado__Contenedor--Cerrar {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  background-color: var(--ColorRojo);
  border: none;
  border-radius: 50%;
  color: var(--ColorBlanco);
  cursor: pointer;
  transition: var(--Transicion);

  display: grid;
  place-content: center;
}
.ModalRastreoAsignado__Contenedor--Imagen {
  width: clamp(100px, 15vw, 110px);
  height: clamp(100px, 15vw, 110px);
}
.ModalRastreoAsignado__Contenedor--Titulo {
  text-align: center;
  font-size: clamp(18px, 2vw, 20px);
  color: var(--ColorAzulMarino);
  font-weight: 600;
  text-transform: uppercase;
}
.ModalRastreoAsignado__Contenedor--Parrafo {
  width: 100%;
  text-align: center;
  font-size: clamp(14px, 2vw, 16px);
  color: var(--ColorAzulMarino);
}
.ModalRastreoAsignado__Contenedor--Parrafo b {
  font-weight: 600;
}
.ModalRastreoAsignado__Contenedor--Botones {
  width: 100%;

  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  gap: 5px;
}
.ModalRastreoAsignado__Contenedor--Botones a {
  height: 50px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(45deg, var(--ColorAzul), var(--ColorAzulMarino));
  font-weight: 600;
  cursor: pointer;
  transition: var(--Transicion);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.ModalRastreoAsignado__Contenedor--Botones a,
.ModalRastreoAsignado__Contenedor--Botones span {
  font-size: clamp(10px, 2vw, 12px);
  color: var(--ColorBlanco);
}
.FormularioDeRastreo {
  min-height: calc(100dvh - 85px);
  overflow: hidden;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.FormularioDeRastreo__Input {
  position: relative;
  display: flex;
  width: 500px;
  height: 65px;

  /* opacity: 0; */
  animation: animacionAparacion 1s forwards;
  animation-delay: 0.2s;
}
.FormularioDeRastreo__Input--Input {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: var(--ColorBlanco);
  padding: 10px 85px 10px 20px;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}
.FormularioDeRastreo__Input--Input:focus {
  outline: none;
  box-shadow: 0px 0px 10px rgba(52, 152, 219, 0.5);
}
.FormularioDeRastreo__Input--Input::placeholder {
  color: var(--BgColor);
  font-weight: bold;
  letter-spacing: 1px;
}
.FormularioDeRastreo__Input--SVG {
  position: absolute;
  top: 0;
  right: 0;
  width: 65px;
  height: 100%;
  background-color: var(--ColorAzul);
  border: none;
  cursor: pointer;
  border-radius: 0px 30px 30px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.FormularioDeRastreo__Informacion {
  width: 1000px;
  background-color: var(--ColorBlanco);
  border-radius: 25px;
  padding: 20px;

  /* opacity: 0; */
  animation: animacionAparacion 1s forwards;
  animation-delay: 0.4s;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FormularioDeRastreo__Informacion--Imagen {
  width: 150px;
  height: auto;
  object-fit: contain;
  margin: 0 auto;

  /* opacity: 0; */
  animation: animacionAparacion 1s forwards;
  animation-delay: 0.6s;
}
.FormularioDeRastreo__Informacion--Encabezado {
  display: flex;
  gap: 10px;
}
.FormularioDeRastreo__Informacion--Encabezado--Imagen {
  width: 50px;
  height: auto;
  object-fit: contain;

  /* opacity: 0; */
  animation: animacionAparacion 1s forwards;
  animation-delay: 0.6s;
}
.FormularioDeRastreo__Informacion--Encabezado--Titulo {
  width: 100%;
}
.Divisor {
  width: 65px;
  height: 5px;
  border: none;
  border-radius: 5px;
  background: var(--ColorRojo);
  /* opacity: 0; */
  margin: 0 auto;

  animation: animacionAparacion 1s forwards;
  animation-delay: 0.6s;
}
.DerechaOrden {
  text-align: right !important;
}
.IzquierdaMovimiento {
  text-align: left !important;
}
.Actual {
  background-color: var(--ColorVerde);
  color: var(--ColorBlanco);
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* opacity: 0; */
  animation: animacionAparacion 1s forwards;
  animation-delay: 0.6s;
}
.FormularioDeRastreo__Informacion--Movimientos {
  padding-left: 35px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.FormularioDeRastreo__Informacion--Movimientos--Movimiento {
  position: relative;
}
.FormularioDeRastreo__Informacion--Movimientos--Movimiento::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--BgColor);
  top: 5px;
  left: -35px;

  /* opacity: 0; */
  animation: animacionAparacion 1s forwards;
  animation-delay: 0.6s;
}
.FormularioDeRastreo__Informacion--Movimientos--Movimiento:first-child::after {
  background-color: var(--ColorVerde);
}
@media (width > 1920px) {
  .FormularioDeRastreo {
    min-height: fit-content;
  }
}
@media (width <= 1050px) {
  .FormularioDeRastreo__Informacion {
    width: 100%;
  }
}
@media (width <= 600px) {
  .FormularioDeRastreo__Input {
    width: 100%;
  }
  .FormularioDeRastreo__Input--SVG {
    width: 50px;
  }
}
@media (width <= 550px) {
  .ModalRastreoAsignado__Contenedor {
    width: 100%;
  }
  .ModalRastreoAsignado__Contenedor--Cerrar {
    right: 0;
    top: 0;
    border-radius: 0 15px 0 15px;
  }
}
