---
// IMPORTAMOS LOS ESTILOS
import "../styles/Main.css";
---

<main class="Main">
  <span class="Main__Circulo Uno"></span>
  <span class="Main__Circulo Dos"></span>
  <span class="Main__Circulo Tres"></span>
  <slot />
</main>
