---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";

import { DiccionarioTitulos } from "../../translations/DiccionarioTitulos";
---

<Layout Titulo={DiccionarioTitulos.tituloContacto["es"]}>
  <Navbar Idioma="es" />
  <h1>CONTACTO</h1>
</Layout>
