---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Main from "../../components/Main.astro";
import Principal from "../../components/index/Principal.astro";
import NuestrosServicios from "../../components/index/NuestrosServicios.astro";
import PorqueElegirnos from "../../components/index/PorqueElegirnos.astro";
import Footer from "../../components/Footer.astro";
import PreguntasFrecuentes from "../../components/PreguntasFrecuentes.astro";

import { DiccionarioTitulos } from "../../translations/DiccionarioTitulos";
---

<Layout
  Idioma="es"
  Encabezado="INDEX"
  Titulo={DiccionarioTitulos.tituloPrincipal["es"]}
>
  <Navbar Idioma="es" />
  <Main>
    <Principal Idioma="es" />
    <NuestrosServicios Idioma="es" BgContenido={true} />
    <PorqueElegirnos Idioma="es" />
    <PreguntasFrecuentes Idioma="es" Preguntas="GENERALES" />
    <Footer Idioma="es" />
  </Main>
</Layout>
