---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Main from "../../components/Main.astro";
import Footer from "../../components/Footer.astro";
import Presentacion from "../../components/Servicios/Presentacion.astro";
import Ecosistema from "../../components/Servicios/Ecosistema.astro";
import NuestrosServicios from "../../components/index/NuestrosServicios.astro";
import PreguntasFrecuentes from "../../components/PreguntasFrecuentes.astro";

import { DiccionarioTitulos } from "../../translations/DiccionarioTitulos";
---

<Layout Idioma="es" Titulo={DiccionarioTitulos.tituloServicios["es"]}>
  <Navbar Idioma="es" />
  <Main>
    <Presentacion Idioma="es" />
    <NuestrosServicios Idioma="es" />
    <Ecosistema Idioma="es" />
    <PreguntasFrecuentes Idioma="es" Preguntas="SERVICIOS" />
    <Footer Idioma="es" />
  </Main>
</Layout>
